<div class="content-top">

	<ul class="toolbar list-unstyled">

    	   <li>
      	         <a routerLink="/home">Back</a>
                </li>
   
  	</ul>

</div>


<form class="form" [formGroup]="myForm"  (ngSubmit)="onSubmit(myForm.value)">

    <div class="form-group">
        <label for="country">Country :</label>
        <input type="text" class="form-control" id="country" 
        [formControl]="country" >
        <label for="description">Description :</label>
        <input type="text" class="form-control" id="description"
        [formControl]="description">

        <!--  example for validation
         <div *ngIf="!country.valid"  
           class="ui error message">SKU is invalid</div>  
         <div *ngIf="country.hasError('required')"  
           class="ui error message">SKU is required</div>
        -->

    </div>

    <div *ngIf="!myForm.valid">
        <input class="btn btn-primary" type="submit" value="Add" disabled="">
    </div>
     <div *ngIf="myForm.valid">
        <input class="btn btn-primary" type="submit" value="Add">
    </div>
   

</form>
