<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <a class="navbar-brand" href="#">
 	<img src="../../../../../assets/img/blog.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
  	Welcome to Blog!!
  </a>


</nav>