<div class="content-top">

	<ul class="toolbar list-unstyled">

    	<li>
      		<a routerLink="/addblog">Add Blog</a>
    	</li>
   
  	</ul>

</div>



<div class="card-columns">
<div class="card text-center " style="width: 20rem;" *ngFor="let blog of blogs">
  <!--<img class="card-img-top " src="{{ blog.path }}" alt="Not Found">-->
  <div class="card-block">
    <h4 class="card-title">{{ blog.country }}</h4>
    <p class="card-text">{{ blog.description }}</p>
    <input class="btn btn-primary" type="button" value="Delete" 
    (click)="delBlog(blog._id)">
    <input class="btn btn-primary" type="button" value="VIEW" 
    (click)="viewBlog(blog._id)">

  </div>
</div>
</div>

